.navbar {
  background: #222;
}

.navbar-brand {
  font-weight: bold;
  color: #fff !important;
  letter-spacing: 1px;
}

.nav-link {
  color: #ccc !important;
  margin-right: 1rem;
}

.nav-link:hover {
  color: #cc640f !important;
}

.user-nav {
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  gap: 2px; /* space between avatar and text */
}
