@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";

@import "components/index";
@import "components/renter_bookings";

@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

.mapboxgl-popup-content {
  color: #ffffff;        // very dark gray/near‐black text
  font-weight: 300;      // slightly bolder
  font-size: 0.95rem;    // if you want it a bit bigger
}

/* If you want the heading specifically even darker/larger: */
.mapboxgl-popup-content h5 {
  color: #ffffff;        // pure black for the title
  font-weight: 200;
  margin-bottom: 0.5rem;
}

/* And ensure links/buttons inside the popup are also visible */
.mapboxgl-popup-content a.btn {
  color: #fff;           // white text on the button
  background-color: #333;
  border-color: #222;
}

/* Optional: make the popup background a touch more opaque */
.mapboxgl-popup-content {
  background-color: #222;
}

.mapboxgl-popup-content a.btn-search {
  background: #616161;
  color: #ffffff;
  border-radius: 1rem;
  border: none;
  padding: 0.4rem 1rem;
  font-weight: 500;
  transition: background 0.2s;
}

.mapboxgl-popup-content a.btn.btn-sm.btn-primary:hover {
  color: #ffffff;
  background-color: #e6751a;
  transition: background 0.2s;
}


@import "components/bookings";
